# MySQL (local docker-compose)
DB_USER=musclead
DB_PASSWORD=musclead
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=musclead

# goose
GOOSE_DRIVER=mysql
GOOSE_DBSTRING=musclead:musclead@tcp(127.0.0.1:3306)/musclead?parseTime=true&multiStatements=true
GOOSE_MIGRATION_DIR=./sql/migrations
